.slide                 { overflow: hidden; }
.slide ul              { list-style: none; margin: 0; }

.header_bg             { position: relative; background: #fff; }


/* START: Left header section  */
.header_content        { color: #000; padding-top: 195px; height: 231px; overflow: hidden; }
.header_texts          { -webkit-mask-image: -webkit-linear-gradient(left, 
                                             black 485px, transparent 100%); }

.header_content h1     { font-size: 70px; margin-bottom: 11px; line-height: 100%; color:#222; 
                         font-family: 'Century', Georgia, serif; }
.header_content h2     { font-family: 'AllerLightRegular'; color: #999; margin-left:5px; }

/* START: Header section with dl button  */
.header_divider        { border-top: 1px solid #D9D9D9; }

.dl_wrapper            { padding: 31px 0 0 0; }
.dl_button             { z-index: 11; }

.dl_button:hover .iphone_icon { background-color: #26ace1; }
.dl_button:hover h2   { color: #26ace1; }

.dl_button h2          { color: #0476bb; font-family: 'AllerRegular'; font-weight: 500;
                         font-size: 42px; margin-top: 10px;
                         -webkit-transition: color .7s ease 0s; 
                         -moz-transition: color .7s ease 0s;
                         -ms-transition: color .7s ease 0s; 
                         -o-transition: color .7s ease 0s;
                         transition: color .7s ease 0s; }
.links h4          	   { color: #A7A7A7; font-family: 'AllerLightRegular'; z-index:12; 
                         font-size: 20px; position:relative; left:105px; top:-35px; padding-bottom:20px; }

.iphone_icon           { background-color: #0476bb; height: 100px; width: 100px;
                         -webkit-border-radius: 50px; -moz-border-radius: 50px;
                         border-radius: 50px;
                         background-image: url('img/arrows.png');
                         background-repeat: no-repeat;
                         background-position: -56px 23px; 
                         left: -20px; position: relative;
                         -webkit-transition: background-color .7s ease 0s; 
                         -moz-transition: background-color .7s ease 0s;
                         -ms-transition: background-color .7s ease 0s; 
                         -o-transition: background-color .7s ease 0s;
                         transition: background-color .7s ease 0s; }

/* GREEN */
.dl_button.purple h2, .dl_button.purple      { color: #6ca314; }
.dl_button.purple .iphone_icon       { background-color: #6ca314; }

.dl_button.purple:hover h2 { color: #89c729; }
.dl_button.purple:hover .iphone_icon { background-color: #89c729; }

/* ORANGE */
.dl_button.blue h2, .dl_button.blue     { color: #fa6501; }
.dl_button.blue .iphone_icon       { background-color: #fa6501; }

.dl_button.blue:hover h2 { color: #ff831e; }
.dl_button.blue:hover .iphone_icon { background-color: #ff831e; }

/* PRIVACY */
.dl_button.red h2, .dl_button.red        { color: #8358a0; }
.dl_button.red .iphone_icon       { background-color: #8358a0; }

.dl_button.red:hover h2  { color: #ab81c8; }
.dl_button.red:hover .iphone_icon { background-color: #ab81c8; }

/* STAGE 2 CALL-TO-ACTION */
.sms label { float:left; display:block; color:#222; width:500px; height:30px; font-family: 'AllerLightRegular'; padding:5px 0 0 5px; font-size:20px; }
.sms input { float:left; display:block; width:250px; height:48px; position:relative; padding:0 25px; left:-20px; margin:5px 0 57px 0; 
			 background:url(img/sms_input.png) scroll no-repeat left top; border:0; font-family:'AllerLightRegular'; font-size:22px; color:#888; outline:none; }

.sms input:focus { color:#222; }
.sms a.dl_button { float:left; position:relative; top:-35px; margin-left:10px; }
.sms a.dl_button div.close { background-color:#ddd; background-image:url(img/close.png); background-position:center center; }
.sms a.dl_button div.close:hover { background-color:#e5e5e5; }

/* SENDING STATE */
.sending a.dl_button div.close { display:none; }
.sending a.dl_button div.iphone_icon { background-color:#ddd; cursor:default; background-image:url(img/sending.gif); background-position:20px 20px; }
.sending a.dl_button div.iphone_icon:hover { background-color:#ddd; }


/* END: Left header section  */

/* START: Right iPhone */
.header_iphone_hold    { position: relative; }
.header_iphone         { height: 800px; width: 460px; left: -15px; position: absolute; 
                         background: url('img/iphone_w.png') no-repeat center 0; 
                         z-index: 1; }

.iphone_screen, 
.screens li            { height: 528px; width: 366px; }
.iphone_screen         { top: 60px; left: 49px; position: relative; }

.screen_overlay        { height: 549px; width: 366px; top: -22px; position: absolute;
                         background: url('img/glare_screen.png') no-repeat right top; 
                         background-size: 154px; pointer-events: none; z-index: 1000; }
.screens               { -webkit-user-select: none; -moz-user-select: none; user-select: none; 
                         cursor: -webkit-grab; cursor: -moz-grab; cursor: grab; }

.home_button           { height: 82px; width: 82px; top: 93px; left: 50%; 
                         margin-left: -41px; position: relative; display: block; 
                         -webkit-border-radius: 40px; 
                         -moz-border-radius: 40px;  
                         border-radius: 40px;
                         overflow: hidden;  }
.home_button:hover     { background: rgba(100,100,100, .05); }

#speech_input          { border: none; background: transparent; text-indent: -999em;
                         overflow: hidden; position: absolute; width: 16px; 
                         top: 0; left: 52%; margin-left: -8px; opacity: 0;
                         -webkit-transform: scale(6); }
/* END: Right iPhone */

/* Right side slide nav arrow */
.arrow                 { position: absolute; top: 205px; right: 15px; 
                         height: 100px; width: 100px; 
                         background-color: #CCCCCC;
                         background-image: url('img/arrows.png');
                         background-repeat: no-repeat; background-position: -55px center;
                         -webkit-border-radius: 50px; 
                         -moz-border-radius: 50px; 
                         border-radius: 50px;
                         z-index: 1000; }
                         
.arrow_left            { left: 15px; background-position: 25px center; }

.arrow:hover           { background-color: #bbb; }

/* Slide navigation "dots" */
.slide_nav             { text-align: left; position: relative; margin-left: 3px; }
.slide_nav ul          { display: inline-block; }
.slide_nav li          { display: inline-block; width: 22px; height: 22px;
                         margin-right: 20px; cursor: pointer;
                         background-color: #eee; background-color: transparent;
                         -moz-border-radius: 11px; -webkit-border-radius: 11px; 
                         border-radius: 11px; background: #DFDFDF;
                         -webkit-transition: background-color .7s ease 0s; 
                         -moz-transition: background-color .7s ease 0s;
                         -ms-transition: background-color .7s ease 0s; 
                         -o-transition: background-color .7s ease 0s;
                         transition: background-color .7s ease 0s; }
.slide_nav li.selected { background-color: #26ace1; }

.slide_nav li:hover    { background-color: #a8def3; }

/* GREEN */
.slide_nav.purple li:hover { background-color: #c4e394; }
.slide_nav.purple li.selected { background-color: #89c729; }

/* ORANGE */
.slide_nav.blue li:hover { background-color: #ffc18f; }
.slide_nav.blue li.selected { background-color: #ff831e; }

/* PRIVACY */
.slide_nav.red li:hover { background-color: #d5c0e4; }
.slide_nav.red li.selected { background-color: #ab81c8; }


/* Bellow the fold: */
.section_bg            { padding: 35px 0 20px 0; background: url('img/row_bg.png') repeat-x top; }

#appstore { display:block; width:119px; height:40px; background-image:url(img/appstore.png); position:relative; float:right; left:-460px; top:-8px; z-index:100; }
#appstore:hover { opacity:0.8; filter:alpha(opacity=80); }
#appstore span { display:none; }

/* FOOTER */
#footer { font-size:13px; color:#999; padding-top:46px; font-family:Aller, Arial, Helvetica, sans-serif; }

/* SCREEN SIZE */
@media only screen and (max-width : 1230px) {

  .row                      { width: 900px; }
  .w575                     { width: 465px; }
  .w585                     { width: 405px; }
  .header_texts h1          { font-size: 55px; }
  .header_texts h2          { font-size: 22px; }
  .header_texts             { -webkit-mask-image: -webkit-linear-gradient(left, 
                                                  rgba(0,0,0,1) 410px, rgba(0,0,0,0) 465px) !important; }
  .arrow                    { top: 193px; }

}

@media only screen and (max-width : 1100px) {
  
  .row                      { width: 800px; }
  .w575                     { width: 365px; }
  .w585                     { width: 305px; }
  .header_texts             { -webkit-mask-image: -webkit-linear-gradient(left, 
                                                  rgba(0,0,0,1) 305px, rgba(0,0,0,0) 365px) !important; }
  .arrow {
    height: 75px !important;
    width: 75px !important; 
  }
  .arrow_left {
    background-position: 15px center !important;
  }
  .arrow_right {
    background-position: -67px center !important;
  }
  
  .dl_button h4 { font-size: 14px; }
  
}
@media only screen and (max-width : 980px) {
  .arrow {
    visibility: hidden;
  }
}

@media only screen and (max-width : 768px) { 
  .row                      { width: 750px; }
  .w575                     { width: 315px; }
  .r100                     { padding-right: 5px; }
  .iphone_icon {
    left: 0;
    width: 70px; 
    height: 70px; 
    background-size: 40%;
    margin-right: 10px;
  }
  .dl_button h2 {
    font-size: 35px;
    margin-top: 4px;
  }
  .dl_button h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width : 767px) { 
  .row { width: 75%; }
  .w435, .w585, .left, 
  .w575, .right {
    float: none;
    width: 100%;
  }
  .dl_wrapper {
    padding: 15px 0;
  }
  .dl_button {
    top: 0;
  }
  .dl_button h2 {
    font-size: 27px;
  }
  .dl_button h4 {
    font-size: 11px;
  }
  .iphone_icon { display: block; float: left;
                 left: -20px;
                 margin: 0;
                 width: 70px; 
                 height: 70px; }
                 
  .r100 {
    padding: 0;
  }
  .slide li {
    margin-right: 17px;
    margin-left: 0;
  }
  .dl_text {
    float: left;
    width: 170px;
  }
  .header_content {
    height: 120px;
    padding-top: 25px;
  }
  .header_content h1 {
    font-size: 35px;
  }
  .header_content h2 {
    font-size: 15px;
  }
  .header_iphone_hold {
    display: none;
  }
  .section_bg {
    padding-top: 20px;
  }
    
}

@media only screen and (max-width : 320px) { 
   .header_content {
     padding-top: 75px;
     height: 180px;
   }
}
